# This workflow will run unit tests

name: Unit Tests
on:
  push:
  workflow_dispatch:
  pull_request:
    branches:
      - master
jobs:
  py_build_tests:
    uses: neongeckocom/.github/.github/workflows/python_build_tests.yml@master
    with:
      python_version: "3.8"
  unit_tests:
    timeout-minutes: 15
    strategy:
      matrix:
        python-version: [ 3.9, '3.10', '3.11' ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install portaudio19-dev python3-pyaudio libpulse-dev ffmpeg
          python -m pip install --upgrade pip
          pip install cython
          pip install . -r requirements/test_requirements.txt
      - name: Unit Tests
        run: |
          pytest tests/unit_tests.py --doctest-modules --junitxml=tests/unit-test-results.xml
      - name: Upload Unit test results
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-results-${{ matrix.python-version }}
          path: tests/unit-test-results.xml